body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: dodgerblue;
  font-size: 3rem;
}

img {
  display: block;
  margin: 0 auto;
  height: 40%;
  width: 55%;
  border-radius: 1rem;
}

button {
  margin-top: 2rem;
  padding: 1.5rem;
  height: 3.85rem;
  width: 15rem;  
  white-space: nowrap;
  background: dodgerblue;
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bolder;
}

button:hover {
  color: white;
  background: steelblue;
  cursor: pointer;
}

.quote {
  font-size: 2.5rem;
  font-style: italic;
  color: steelblue;
  width: 50%;
  margin: 1.5rem auto;
  border: 1px solid steelblue;
  border-radius: 1rem;
  padding: 1.5rem;
}